@import "sensasans"

// reset
*
    margin 0
    padding 0
    background none
    color inherit
    font-size inherit
    line-height inherit
    font-weight inherit
    font-style inherit
    text-decoration inherit

em, i
    font-style italic

strong, b
    font-weight bold

html
    font-size 16px

body
    background-color #eee
    color #111

    font-family sans-serif
    line-height 1.4em
    font-weight normal
    font-style inherit
    text-decoration none

h1, h2, h3
    sensa()
    padding 0 0 .75em 0

h1
    font-size 2em

h2
    font-size (5em / 3)

h3
    font-size (4em / 3)

p
    padding 0 0 1em 0
